@model CoolWebsite.Areas.Financial.Models.CreateReceiptItemVm


<div class="modal-dialog " role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Create new Financial Project</h5>
            <button type="button" class="close red" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form role="form" id="create-receipt-item-modal-form" onsubmit="return false">
            <div class="modal-body">
                @*
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input class="form-control" name="receipt_item_name"
                           id="receipt-item-name" asp-for="Name" placeholder="Name of item">
                    <small class="form-text text-muted">Just a name ?</small>
                </div>
*@

                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input class="form-control" name="receipt_item_price"
                           id="receipt-item-price" asp-for="Name" placeholder="Price for the individual item">
                    <small class="form-text text-muted">The price per item</small>
                </div>

                <div class="form-group">
                    <label asp-for="Count">Count</label>


                    <div class="container" id="count-button-container">
                        <div class="row">
                            <div class="col-sm override-padding-left-right-2">
                                <button type="button" class="btn btn-info btn-block count-button">1</button>
                            </div>
                            <div class="col-sm override-padding-left-right-2">
                                <button type="button" class="btn btn-info btn-block count-button">2</button>

                            </div>
                            <div class="col-sm override-padding-left-right-2">
                                <button type="button" class="btn btn-info btn-block count-button">3</button>

                            </div>
                            <div class="col-sm override-padding-left-right-2">
                                <button type="button" class="btn btn-info btn-block count-button">4</button>
                            </div>
                        </div>
                        <label id='receipt-item-count-error' class="red" style="display: none">You must choose a button</label>
                        
                    </div>
                    @*
                    <select class="custom-select" id="count-dropdown" name="count_dropdown">
                        <option selected="" value="">Select number of items</option>
                    </select>
                    *@

                </div>


                <div class="form-group">
                    <label asp-for="Type">Type</label>
                    @*
                    <select asp-items="@Model.TypesSelectListItems" class="custom-select" id="types-dropdown" name="types_dropdown">
                        <option value="" selected="selected">Select a type</option>
                    </select>
                    *@

                    <div class="container">
                        <div class="row">
                            @foreach (var type in @Model.TypesSelectListItems)
                            {
                                <div class="col-sm override-padding-left-right-2">
                                    <button type="button" class="btn btn-info btn-block type-button" data-id="@type.Value">@type.Text</button>
                                </div>
                            }
                        </div>
                        <label id='receipt-item-type-error' class="red" style="display: none">You must choose a button</label>
                    </div>


                    <small class="form-text text-muted">Generic group</small>
                </div>


                @await Html.PartialAsync("AddUserPartialView", @Model.AddUserModel)

            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-warning" id="edit-receipt-button" name="edit" value="edit">Edit Changes</button>
                <button type="submit" id="create-receipt-item" class="btn btn-success" name="create" value="create">Save Changes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </form>

    </div>
</div>