@model List<CoolWebsite.Areas.UserManagement.Models.RoleViewModel>


<div class="mt-3">
    @foreach (var role in @Model)
    {
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">Role Id: @role.Id</div>
            <div class="card-body">
                <h4 class="card-title">@role.Name</h4>
                <button type="button" class="btn btn-outline-success">Add user to role</button>
                <a class="btn btn-outline-danger"
                   asp-action="DeleteRole" asp-controller="Roles" asp-route-id="@role.Id" asp-area="UserManagement">Delete role</a>
            </div>
             <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (role.Users != null)
                        {
                            @foreach (var user in role.Users)
                            {
                                <tr>
                                    <th scope="row">@user.Id</th>
                                    <td>@user.FirstName @user.LastName</td>
                                    <td>@user.Email</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table> 
        </div>
       
    }

</div>


