@model CoolWebsite.Areas.Financial.Models.TransactionPartialModel


<div class="row mt-5">
    <div class="col-md-4">
        <h3 style="width: 343px;">Payed</h3>
    </div>
    @*
    <div class="col-md-4 d-flex justify-content-end align-self-start">
        <i class="fas fa-search d-xl-flex justify-content-xl-center align-items-xl-center"></i>
        <input type="search" class="border rounded d-xl-flex justify-content-xl-center align-items-xl-center search-field" id="search-field" style="background-color: #eaeaea;width: 80%;height: 38px;padding: 0px;margin-left: 17px;"
               name="search"/>
    </div>
    *@

</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Project</th>
                <th>To</th>
                <th>Amount</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.PayedTransaction != null)
            {
                @foreach (var transaction in @Model.PayedTransaction)
                {
                    <tr>
                        <td>@transaction.ProjectTitle</td>
                        <td>@transaction.ToUser.Name</td>
                        <td>@transaction.Amount.ToString("N2") kr.</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm delete-transaction" data-id="@transaction.Id" data-amount="@transaction.Amount">
                                <i class="far fa-trash-alt"></i>
                                Delete
                            </button>

                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>


<div class="row mt-5">
    <div class="col-md-4">
        <h3 >Received</h3>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Project</th>
                <th>From</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.ReceivedTransaction != null)
            {
                @foreach (var transaction in @Model.ReceivedTransaction)
                {
                    <tr>
                        <td>@transaction.ProjectTitle</td>
                        <td>@transaction.FromUser.Name</td>
                        <td>@transaction.Amount.ToString("N2") Kr.</td>

                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>
