<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoolWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapDark.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Main/MainLayout.css"/>
    <link rel="stylesheet" href="~/css/Main/navbar-fixed-left.min.css"/>
    <link rel="stylesheet" href="~/css/Main/Sidebar.css"/>
    @RenderSection("StyleSheets", false)
</head>
<body>
<header>
  
   @Html.Partial("Sidebar")
 
</header>

<div class="container">
    <div id="wrapper">
        @RenderBody()
    </div>
</div>

@*
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CoolWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
