@model CoolWebsite.Application.DatabaseAccess.Financials.FinancialProjects.Queries.GetFinancialProjects.Models.FinancialProjectDto

@{
    ViewBag.Title = "Project - " + @Model.Title;
    Layout = "_Layout";
}

<div>

    <div>
        <h1 class="mb-3 text-center">@Model.Title</h1>
    </div>

    <div>
        <div class="container mb-2 pb-3 pt-3" style="border: 1px solid rgba(0,0,0,0.6); background-color: #32383e">
            <div class="row">
                @foreach (var user in @Model.Users)
                {
                    <div class="col-sm">
                        <div class="collaborator-image">@user.Initial</div>
                        <p class="text-center mt-2 mb-2">Owed: 
                            @if (@user.Owed <= 0)
                            {
                                <span class="green amount-owed">@user.Owed.ToString("N2")</span>
                                <button class="btn btn-success btn-request" data-id="@user.Id">Request</button>

                            }
                            else
                            {
                                <span class="red amount-owed">@user.Owed.ToString("N2")</span>
                                <button class="btn btn-success btn-pay" data-id="@user.Id">Pay</button>
                            }
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>

    
    <div class="modal" tabindex="-1" role="dialog" id="confirm-pay-transaction-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Pay transaction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group has-danger">
                        <label class="col-form-label" for="transaction-amount">Amount</label>
                        <input type="text" class="form-control " placeholder="Default input" id="transaction-amount" >
                        <div class="invalid-feedback" id="transaction-amount-feedback">ErrorMessage</div>
                    </div>
                    <div class="form-group has-danger">
                        <p id="whoknow">(If you choose to pay with mobilepay you will be redircted to mobilepays own site. Where you will be promted the amount you owe. Works best on mobile)</p>
                        <h2 class="invalid-feedback" id="mobilepay-not-available">ErrorMessage</h2>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btn-transaction-confirm">Pay</button>
                    <button type="button" class="btn btn-info" id="btn-transaction-mobilepay-confirm">Pay With Mobilepay</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="confirm-archive-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirm Archive</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                
                <div class="modal-body text-white">
                    <h5>You are about to archive a receipt, you can undo this under the archive tab.</h5>
                </div>
                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger btn-ok" id="confirm-archive-btn">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-block btn-primary" asp-action="CreateReceipt" asp-area="Financial" asp-controller="Project" asp-route-id="@Model.Id">
        CREATE RECEIPT
    </a>
    <div id="project-cards container">


        @for (var index = 0; index < Model.Receipts.Count;)
        {
            /*
            if (Model.Receipts[index].Deleted == null)
            {
                continue;
            }
            */

            <div class="row mt-5">

                @for (int i = 0; i < 4; i++)
                {
                    <div class="col-sm">
                        @if (index < Model.Receipts.Count)
                        {
                            @await Html.PartialAsync("Partial/ReceiptCard", @Model.Receipts[index])
                        }
                    </div>

                    index++;
                }
            </div>
        }
    </div>
</div>




@section Scripts
{
    <script src="~/js/financial/common.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/financial/project.js" type="text/javascript" asp-append-version="true"></script>
}