@model CoolWebsite.Application.DatabaseAccess.Financials.FinancialProjects.Queries.GetFinancialProjects.Models.FinancialProjectDto

@{
    ViewBag.Title = "Receipt";
    Layout = "_Layout";
}


<div class="mt-5">

    <div>
        <div class="container mb-2 pb-3 pt-3" style="border: 1px solid rgba(0,0,0,0.6); background-color: #32383e">
            <div class="row">
                @foreach (var user in @Model.Users)
                {
                    <div class="col-sm">
                        <div class="collaborator-image">@user.Initial</div>
                        <p class="text-center mt-2 mb-2">Owed: 
                            @if (@user.Owed <= 0)
                            {
                                <span class="green">@user.Owed</span>
                                <button class="btn btn-success btn-pay">Request</button>

                            }
                            else
                            {
                                <span class="red">@user.Owed</span>
                                <button class="btn btn-success btn-pay">Pay</button>
                            }
                            </p>
                    </div>
                }
            </div>
        </div>
    </div>

    <a class="btn btn-block btn-primary" asp-action="CreateReceipt" asp-area="Financial" asp-controller="Project" asp-route-id="@Model.Id">
        CREATE RECEIPT
    </a>
    <div id="project-cards container">


        @for (var index = 0; index < Model.Receipts.Count;)
        {
            /*
            if (Model.Receipts[index].Deleted == null)
            {
                continue;
            }
            */

            <div class="row mt-5">

                @for (int i = 0; i < 3; i++)
                {
                    <div class="col-sm">
                        @if (index < Model.Receipts.Count)
                        {
                            @await Html.PartialAsync("Partial/ReceiptCard", @Model.Receipts[index])
                        }
                    </div>

                    index++;
                }
            </div>
        }
    </div>
</div>


<h2>Jo this is a project</h2>
<h1>@Model.Title</h1>

@{
    foreach (var applicationUser in Model.Users)
    {
        <p>@applicationUser.Name</p>
    }
}


<div class="modal" tabindex="-1" role="dialog" id="confirm-delete">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you wanna delete this?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>name of receipt</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" asp-action="Index" asp-controller="Project" asp-route-id="test" id="confirm-delete-button">Delete</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/financial/common.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/financial/project.js" type="text/javascript" asp-append-version="true"></script>
}