@model CoolWebsite.Application.DatabaseAccess.Financials.FinancialProjects.Queries.GetFinancialProjects.Models.FinancialProjectDto

<div class="card mt-2">
    <div class="card-body">
        <h4 class="card-title">@Model.Title</h4>
        <h6>users: @Model.Users.Count | Receipts @Model.Receipts.Count</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a asp-action="Index" asp-controller="Project" asp-area="Financial" asp-route-id="@Model.Id" class="card-link green">Enter</a>
        <a href="#" class="card-link red">Delete</a>
        @{
            if (Model.LastModified.HasValue)
            {
                <a class="card-link">Last Modified: @Model.LastModified</a>
            }
            else
            {
                <a class="card-link">Created: @Model.Created</a>
            }
        }
    </div>
</div>