@using CoolWebsite.Services
@model CoolWebsite.Application.DatabaseAccess.Financials.FinancialProjects.Queries.GetFinancialProjects.Models.FinancialProjectDto

<div class="card mt-2">
    <div class="card-body">
        <h4 class="card-title">@Model.Title</h4>
        <h6>users: @Model.Users.Count | Receipts @Model.Receipts.Count</h6>
        <p class="card-text">@Model.Description</p>
        <a asp-action="Index" asp-controller="Project" asp-area="Financial" asp-route-id="@Model.Id" class="card-link green">Enter</a>
        
        @if (User.GetUserId() == @Model.CreatedBy)
        {
            <a class="card-link yellow enable-hover" id="open-edit-financial-project-modal" data-id="@Model.Id">Edit</a>
            <a class="card-link red enable-hover archive-project" data-id="@Model.Id">Archive</a>
        }
        
        @{
            if (Model.LastModified.HasValue)
            {
                <span class="card-link text-white">Last Modified: @Model.LastModified</span>
            }
            else
            {
                <span class="card-link text-white">Created: @Model.Created</span>
            }
        }

    </div>
</div>