@model List<CoolWebsite.Areas.UserManagement.Models.UserModel>



<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">First Role</th>
        <th scope="col">Email confirmed</th>
        <th scope="col">Two Factor Enabled</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.FirstName @user.LastName</td>
            <td>@user.Email</td>
            @if (@user.RoleNames.Count > 0)
            {
                <td>@user.RoleNames[0]</td>
            }
            else
            {
                <td>NONE</td>
            }
            <td>@user.EmailConfirmed</td>
            <td>@user.TwoFactorEnabled</td>
            <td><a href="#" style="color: green" data="@user.Id" id="edit-user">Edit</a></td>
            <td><a asp-action="DeleteUser" asp-controller="Users" asp-route-id="@user.Id" asp-area="UserManagement" 
                   style="color: red">Delete</a></td>
        </tr>
    }
    </tbody>
</table> 

